html, body{

    margin: auto;
    display: block;
    background-color: #111;
}

.wrapper{
    margin: 1rem;
}

header{
padding: 1em;

box-shadow: 0px 5px 5px 2px #b189f1;


background-color: rgb(255, 255, 255);
}



footer{

    text-align: center;
    padding: 0.2em;
    background-color: #111;
    font-family: Merengue Script;
}

nav li{

    list-style: none;
    display: inline-block;
    padding: 1rem;
    padding-top: 13px;
}



a{
    text-decoration: none;
    
}

a:active{
    color: #0a0a0a;
}

nav a:hover {
    color: #b189f1;
  }

  h1{
    font-size: 50px;
    color: #b189f1;
    text-align: center;
  }


p{
    color: #f3f3f3;
    font-size: 20px;
}

h2{

    color: #fafafa;
    font-size: 35px;
}

h3{
color: #fff;
    font-family: bebas neue pro;
    font-size: 27px;
}

section{
    padding: 1em;
}

#cta{

text-align: center;
 padding: 2rem;
 
    
}

li{
    color: #f3f3f3;
    text-decoration: none;
    
}


.overwhite{

    color: #111;
}
button{
    
    box-shadow: 0px 2px 5px 2px #b189f1;
    background-image: linear-gradient(#111, #b189f1);
    color: #f3f3f3;


}

.flex-columns{

    display: flex;
justify-content: space-evenly;
    flex-direction: row;

    padding: 1rem;
}

.flex-columns div {
    background-color: #f3f3f3;
    border-style: solid;
    border-radius: 0.2rem;
    border-color: #fafafa;
    padding: 1rem;
    border-width: 1px;
    box-shadow: 0px 2px 5px 2px #b189f1;
    

}